.s1 .row .s1d2 ul{
    list-style: none;
}

.s1 .row .s1d2 ul li a{
    color: #c9d6cb;
    transition: 0.3s;
    font-size: 18px;
}

.s1 .row .s1d2 ul li a i{
    transition: 0.3s;
}

.s1 .row .s1d2 ul li a:hover i{
    color: #00880f;
    transform: rotate(90deg);
}

header nav .collapse ul{
    width: 70%;
}

header nav .collapse ul li a .bi-search{
    cursor: pointer;
    color: gray;
    background-color: #e5f3e7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header nav .collapse ul li .btns{
    background-color: #00880f;
    color: white;
    border: 2px solid #00880f;
    transition: 0.3s;
}

header nav .collapse ul li .btns:hover{
    border: 2px solid #00880f;
    background: transparent;
    color: #00880f;
}

.s2{
    height: 650px;
}

.s2 .swiper {
    width: 100%;
    height: 100%;
}

.s2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2 .swiper .slid1{
    background-image: url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s2 .swiper .slid1 a .btns{
    border: 2px solid white;
    width: 200px;
    height: 50px;
    background: white;
    color: #00880f;
    transition: 0.3s;
}

.s2 .swiper .slid1 a .btns:hover{
    background: transparent;
    color: white;
}

.s3 .row .s3d1, .s3 .row .s3d2, .s3 .row .s3d3, .s3 .row .s3d4, .s3 .row .s3d5, .s3 .row .s3d6{
    background-color: #f2f4f3;
    z-index: 2;
    width: 15%;
}

.s3 .row .s3d1 i, .s3 .row .s3d2 i, .s3 .row .s3d3 i, .s3 .row .s3d4 i, .s3 .row .s3d5 i, .s3 .row .s3d6 i{
    color: #00880f;
}

.s3 .row .s3d1 .box, .s3 .row .s3d2 .box, .s3 .row .s3d3 .box, .s3 .row .s3d4 .box, .s3 .row .s3d5 .box, .s3 .row .s3d6 .box{
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.4s;
}

.s3 .row .s3d1:hover .box, .s3 .row .s3d2:hover .box, .s3 .row .s3d3:hover .box, .s3 .row .s3d4:hover .box, .s3 .row .s3d5:hover .box, .s3 .row .s3d6:hover .box{
    height: 100%;
}

.s3 .row .s3d1 a, .s3 .row .s3d2 a, .s3 .row .s3d3 a, .s3 .row .s3d4 a, .s3 .row .s3d5 a, .s3 .row .s3d6 a{
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

.s3 .row .s3d1:hover a, .s3 .row .s3d2:hover a, .s3 .row .s3d3:hover a, .s3 .row .s3d4:hover a, .s3 .row .s3d5:hover a, .s3 .row .s3d6:hover a{
    text-decoration:underline;
    color: #00880f;
}

.quote h1 a{
    color: #00880f;
}

.s4{
    background-color: #305534;
}

.s4 .row .s4d1 h1, .s4 .row .s4d1 p{
    width: 80%;
}

.s4 .row .s4d1 p, .s4 .row .s4d2 p{
    color: rgb(212, 212, 212);
}

.s4 .row .s4d2 a .btns{
    border: 2px solid #00880f;
    width: 220px;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #00880f;
    transition: 0.3s;
}

.s4 .row .s4d2 a .btns:hover{
    background: transparent;
    color: white;
    border: 2px solid white;
}

.s5 .row .s5d1 .bi-check-lg{
    background-color: #00880f;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
}

.s5 .row .s5d1{
    transition: 0.3s;
}

.s5 .row .s5d1:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.s7 .slider {
    width: 100%;
}

.s7 .slick-slide {
  margin: 0px 20px;
}

.s7 .slider .sl1, .s7 .slider .sl2, .s7 .slider .sl3, .s7 .slider .sl4{
    width: 380px;
    height: 320px;
}

.s7 .slider .sl1:hover .box, .s7 .slider .sl2:hover .box, .s7 .slider .sl3:hover .box, .s7 .slider .sl4:hover .box{
    opacity: 1;
}

.s7 .slider .sl1 img, .s7 .slider .sl2 img, .s7 .slider .sl3 img, .s7 .slider .sl4 img{
    width: 100%;
    height: 100%;
}

.s7 .slider .sl1 .box, .s7 .slider .sl2 .box, .s7 .slider .sl3 .box, .s7 .slider .sl4 .box{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
} 

.s7 .slider .sl1 .box a, .s7 .slider .sl2 .box a, .s7 .slider .sl3 .box a, .s7 .slider .sl4 .box a{
    border: 2px solid white;
    color: white;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
}

.s7 .slider .sl1 .box a::before, .s7 .slider .sl2 .box a::before, .s7 .slider .sl3 .box a::before, .s7 .slider .sl4 .box a::before{
    z-index: -1;
    content: '';
    background: white;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    transition: 0.3s;
    position: absolute;
}

.s7 .slider .sl1 .box a:hover::before, .s7 .slider .sl2 .box a:hover::before, .s7 .slider .sl3 .box a:hover::before, .s7 .slider .sl4 .box a:hover::before{
    height: 100%;    
}

.s7 .slider .sl1 .box a:hover, .s7 .slider .sl2 .box a:hover, .s7 .slider .sl3 .box a:hover, .s7 .slider .sl4 .box a:hover{
    color: #00880f;
}

.s8 .row .s8d2{
    background-color: #eff6f0;
}

.s8 .row .s8d2 a button{
    width: 100%;
    height: 50px;
    background-color: #66816a;
    border: none;
    color: white;
}

.s8 .row .s8d3 form input, .s8 .row .s8d3 form select, .s8 .row .s8d3 form textarea{
    width: 90%;
}

.s8 .row .s8d3 form button{ 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #00880f;
    border: none;
}

footer{
    background-image: url('../images/footer.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

footer .container .sec1 .b2 ul, footer .container .sec1 .b3 ul, footer .container .sec1 .b4 ul{
    list-style: none;
}

footer .container .sec1 .b2 ul li a, footer .container .sec1 .b3 ul li a, footer .container .sec1 .b4 ul li a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

footer .container .sec1 .b2 ul li a:hover, footer .container .sec1 .b3 ul li a:hover, footer .container .sec1 .b4 ul li a:hover{
    color: #305534;
    text-decoration: underline;
}

footer .container .sec1 .b1 .icons a{
    color: #00880f;
    width: 40px;
    height: 40px;
    font-size: 16px;
    background: transparent;
    border: 2px solid #00880f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

footer .container .sec1 .b1 .icons a:hover{
    color: white;
    background: #00880f;
}


@media(max-width:1200px){
    header nav .collapse ul{
        width: 100%;
    }

    header nav .collapse ul li{
        margin-top: 20px;
    }
}

@media(max-width:992px){
    .s3 .row .s3d1, .s3 .row .s3d2, .s3 .row .s3d3, .s3 .row .s3d4, .s3 .row .s3d5, .s3 .row .s3d6{
        width: 27%;
    }

    .s4 .row .s4d1 h1, .s4 .row .s4d1 p{
        width: 100%;
    }
}

@media(max-width:768px){
    .s3 .row .s3d1, .s3 .row .s3d2, .s3 .row .s3d3, .s3 .row .s3d4, .s3 .row .s3d5, .s3 .row .s3d6{
        width: 40%;
    }
}

@media(max-width:576px){
    .s1{
        display: none;
    }
}

@media(max-width:480px){
    .s3 .row .s3d1, .s3 .row .s3d2, .s3 .row .s3d3, .s3 .row .s3d4, .s3 .row .s3d5, .s3 .row .s3d6{
        width: 90%;
    }

    footer .container .sec1 .b1, footer .container .sec1 .b2, footer .container .sec1 .b3, footer .container .sec1 .b4{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    footer .container .sec1 .b1 p, footer .container .sec1 .b2 ul li, footer .container .sec1 .b3 ul li, footer .container .sec1 .b4 ul li{
        text-align: center;
    }

}