*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
}

header .container .logo a{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.menus{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
}

.menus ul{
    display: flex;
    list-style: none;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}

.menus ul li{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menus ul li a{
    color: gray;
    text-decoration: none;
}

.menus h1{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   

.s1{
    margin-top: 10%;  
    height: 900px;
}

.s1 .row .s1d1{
    width: 22%;
    height: 400px;
    transition: 0.3s;
}

.s1 .row .s1d1:hover{
    background: #d5c455;
}

.s1 .row .s1d1:hover i, .s1 .row .s1d1:hover h1, .s1 .row .s1d1:hover p{
    color: white;
}

.s1 .row .s1d1 .bi-code-square{
    color: #d5c455;
}

.s1 .row .s1d1 p{
    color: gray;
}

.s1 .row .s1d1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.s2{
    margin-top: 17%;
    width: 100%;
    height: 120px;
}

.s2 h2{
    color: #d5c455;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

.s2 h1{
    font-weight: bold;
}

.s3{
    height: 500px;
}

.s3 .row{
    justify-content: space-between;
}

.s3 .row .s3d1{
    width: 22%;
    height: 450px;
}

.s3 .row .s3d1 h1{
    color: #d5c455;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.s3 .row .s3d1 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.s3 .row .s3d1 ul{
    list-style: none;
}

.s3 .row .s3d1 ul li{
    font-size: 20px;
    color: gray;
}

.s3 .row .s3d1 ul li .bi-check{
    color: #d5c455;
    font-size: 26px;
}

.s3 .row .s3d1 a{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    background-color: #d5c455;
}

footer{
    margin-top: 10%;
}

@media(max-width:1730px){

    header .container nav ul{
        width: 25%;
        float: right;
        text-align: center;
    }
}

@media(max-width:1200px){

    .s3{
        height: 950px;
    }

    .s3 .row .s3d1{
        width: 48%;
        height: 450px;
    }
}

@media(max-width:992px){

    .s1{
        height: 1300px;
    }

    .s1 .row .s1d1{
        width: 30%;
    }

    .s1 .row .mq{
        width: 46.5%;
    }
}

@media(max-width:980px){
    header .container nav ul{
        width: 25%;
        float: left;
        text-align: left;
    }

    header{
        background: black;
    }

    header .container .logo a{
        color: white;
    }

    header .container button i{
        color: white;
    }

    header .container nav ul li a{
        color: white;
    }

    .menus h1{
        font-size: 45px;
    }

}

@media(max-width:768px){

    .s1{
        height: 1700px;
    }

    .s1 .row .s1d1{
        width: 45%;
    }
}

@media(max-width:720px){


    .menus ul li{
        font-size: 18px;
    }

    .menus h1{
        font-size: 40px;
    }

    .s2 h1{
        font-size: 22px;
        font-weight: bold;
    }

}

@media(max-width:576px){

    .menus{
        height: 100px;
    }

    .s1{
        height: 2600px;
    }

    .s1 .row .s1d1{
        height: 300px;
        width: 90%;
    }

    .s3{
        height: 1950px;
    }
    
    .s3 .row{
        justify-content: center;
    }

    .s3 .row .s3d1{
        width: 90%;
        height: 450px;
    }
}   