.s1 header{
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    border-bottom: 2px solid rgb(211, 211, 211);
}

.s1 header nav .collapse .mainul{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s1 header nav .collapse .mainul li a{
    position: relative;
}

.s1 header nav .collapse .mainul li ul{
    background: transparent;
    border: 2px solid white;
}

.s1 header nav .collapse .mainul li ul li a:hover{
    background-color: skyblue;
}

.s1 header nav .container .navbar-brand i{
    color: #3282b8;
} 

.s1 header nav .collapse .mainul li a{
    transition: 0.3s;
}

.s1 header nav button .bi-list{
    color: white;
}

.s1 header nav a, .s1 header nav .collapse .mainul li a{
    color: white;
}

.s1 header nav .collapse .mainul li a:hover{
    color: #f4f4f4;
}

.s1 .row .bg2{
    height: 55vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.s1 .data{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* z-index: 3; */
}

.s1 .data h2{
    color: #3282b8;
    letter-spacing: 1px;
}

.s2, .s3, .foot{
    margin-top: 150px;
}

.s2 .row .s2d2 h2{
    color: #3282b8;
    letter-spacing: 1px;
}


.s2 .row .s2d1 img{
    width: 320px;
    border: 10px solid white;
    border-radius: 8px;
}

.s2 .row .s2d1 .img2{
    left: -15%;
    top: 5%;
    height: 90%;
    width: 90%;
    z-index: 1;
}

.s2 .row .s2d2 form input{
    width: 100%;
    height: 50px;
    padding-left: 25px;
    background-color: #f3f3f3;
    border: none;
    border-bottom: 5px solid #1a6698;
    border-radius: 10px;
    outline: none;
}

.s2 .row .s2d2 form button{
    width: 100%;
    height: 50px;
    letter-spacing: 3px;
    background-color: #1a6698;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
    border: 2px solid #1a6698;
}

.s2 .row .s2d2 form button:hover{
    background-color: white;
    color: #1a6698;
}

.s3 h2{
    letter-spacing: 2px;
    color: #3282b8;
}

.s3 h1{
    position: relative;
}

.s3 h1::after{
    content: '';
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #3282b8;
    z-index: -1;
    width: 50%;
    height: 35%;
}

.a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8, .a9{
    border: none;
    border-bottom: 2px solid gray;
}

.q1, .fa-chevron-down, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9{
    transition: 0.4s;
}

.ans1, .ans2, .ans3, .ans4, .ans5, .ans6, .ans7, .ans8, .ans9{
    display: none;
}

.color{
    color: #1a6698;
}

.arrow{
    transform: rotate(180deg);
}

.foot{
    background-color: #1b262c;
}

.foot .row .f1 h1{
    letter-spacing: 2px;
}

.foot .row .f1 h1 i{
    color: #3282b8;
}

.foot .row .f1 p{
    color: rgb(227, 227, 227);
}

.foot .row .f2 ul, .foot .row .f3 ul{
    list-style: none;
}

.foot .row .f2 ul li a, .foot .row .f3 ul li a{
    color: rgb(227, 227, 227);
    transition: 0.3s;
}

.foot .row .f2 ul li a i, .foot .row .f3 ul li i{
    color: #3282b8;
}

.foot .row .f2 ul li a:hover, .foot .row .f3 ul li a:hover{
    color: #3282b8;
}

.foot .row .f4 p{
    color: rgb(227, 227, 227);
}

.foot .row .f4 p i{
    color: #3282b8;
}

.foot .row .f4 .icons a{
    background-color: #3282b8;
    color: white;
    transition: 0.3s;
}

.foot .row .f4 .icons a:hover{
    background-color: #1a6698;
}

footer{
    background-color: #052c43;
}


@media(max-width:1130px){
    .s3 .row .s3d1{
        width: 55%;
    }
}

@media(max-width:992px){


    .s1 header nav{
        background-color: black;
    }

    .s1 header nav .collapse .mainul{
        width: 100%;
        align-items: flex-start;
    }

    .s1 .data{
        width: 70%;
    }

}

@media(max-width:768px){
    .s1 .data{
        width: 80%;
    }

    .s3 .row .s3d1{
        width: 72%;
    }
 
    .foot .row .f1, .foot .row .f2, .foot .row .f3, .foot .row .f4{
        padding-left: 15px;
    }
    
}

@media(max-width:576px){
    .s1 .data{
        width: 100%;
    }

    .s3 .row .s3d1{
        width: 90%;
    }

}