.s1 header{
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    border-bottom: 2px solid rgb(211, 211, 211);
}

.s1 header nav .collapse .mainul{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s1 header nav .collapse .mainul li a{
    position: relative;
}

.s1 header nav .collapse .mainul li ul{
    background: transparent;
    border: 2px solid white;
}

.s1 header nav .collapse .mainul li ul li a:hover{
    background-color: skyblue;
}

.s1 header nav .container .navbar-brand i{
    color: #3282b8;
} 

.s1 header nav .collapse .mainul li a{
    transition: 0.3s;
}

.s1 header nav button .bi-list{
    color: white;
}

.s1 header nav a, .s1 header nav .collapse .mainul li a{
    color: white;
}

.s1 header nav .collapse .mainul li a:hover{
    color: #f4f4f4;
}

.s1 .row .bg2{
    height: 55vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.s1 .data{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* z-index: 3; */
}

.s1 .data h2{
    color: #3282b8;
    letter-spacing: 1px;
}

.s2, .foot{
    margin-top: 150px;
}

.s2 .s2d1 .row .in1{
    width: 30%;
}

.s2 .s2d1 .row .in1 .head3, .s2 .s2d1 .row .in1 .head3, .s2 .s2d1 .row .in1 .head3, .s2 .s2d1 .row .in1 .head3{
    top: 0;
    right: 0;
}

.s2 .s2d1 .row .in1 h3 .oldprice, .s2 .s2d1 .row .in1 h3 .oldprice, .s2 .s2d1 .row .in1 h3 .oldprice, .s2 .s2d1 .row .in1 h3 .oldprice{
    color: gray;
}

.s2 .s2d1 .row .in1 h3 .price, .s2 .s2d1 .row .in1 h3 .price, .s2 .s2d1 .row .in1 h3 .price, .s2 .s2d1 .row .in1 h3 .price{
    color: #3282b8;
    text-decoration: underline;   
}

.s2 .s2d1 .row .in1 a button, .s2 .s2d1 .row .in1 a button, .s2 .s2d1 .row .in1 a button, .s2 .s2d1 .row .in1 a button{
    color: white;
    background-color: #3282b8;
    border: 2px solid #3282b8;
    transition: 0.3s;
}

.s2 .s2d1 .row .in1 a button:hover, .s2 .s2d1 .row .in1 a button:hover, .s2 .s2d1 .row .in1 a button:hover, .s2 .s2d1 .row .in1 a button:hover{
    color: #3282b8;
    background-color: white;
}

.s2 .s2d2 form input{
    width: 60%;
    height: 50px;
    background-color: #eceeef;
    border: none;
    outline: none;
    padding-left: 15px;  
}

.s2 .s2d2 form span{
    background-color: #1a6698;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2  .s2d2 .box{
    background-color: #1a6698;
}

.s2  .s2d2 .box .time .t1{
    width: 70px;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}

.s2  .s2d2 .box a button{
    border: 2px solid #1a6698;
    color: #1a6698;
    background-color: white;
    font-weight: bold;
    transition: 0.3s;
}

.s2  .s2d2 .box a button:hover{
    border: 2px solid white;
    color: white;
    background-color: #1a6698;
}

.s2  .s2d2 ul{
    list-style: none;
}

.s2 .s2d2 ul li a{
    color: black;
}

.s2 .s2d2 ul li a i{
    color: #1a6698;
}

.foot{
    background-color: #1b262c;
}

.foot .row .f1 h1{
    letter-spacing: 2px;
}

.foot .row .f1 h1 i{
    color: #3282b8;
}

.foot .row .f1 p{
    color: rgb(227, 227, 227);
}

.foot .row .f2 ul, .foot .row .f3 ul{
    list-style: none;
}

.foot .row .f2 ul li a, .foot .row .f3 ul li a{
    color: rgb(227, 227, 227);
    transition: 0.3s;
}

.foot .row .f2 ul li a i, .foot .row .f3 ul li i{
    color: #3282b8;
}

.foot .row .f2 ul li a:hover, .foot .row .f3 ul li a:hover{
    color: #3282b8;
}

.foot .row .f4 p{
    color: rgb(227, 227, 227);
}

.foot .row .f4 p i{
    color: #3282b8;
}

.foot .row .f4 .icons a{
    background-color: #3282b8;
    color: white;
    transition: 0.3s;
}

.foot .row .f4 .icons a:hover{
    background-color: #1a6698;
}

footer{
    background-color: #052c43;
}

@media(max-width:1200px){
    
    .s2 .s2d1{
        width: 100%;
    }

    .s2 .s2d2{
        width: 100%;
    }
}

@media(max-width:992px){


    .s1 header nav{
        background-color: black;
    }

    .s1 header nav .collapse .mainul{
        width: 100%;
        align-items: flex-start;
    }

    .s1 .data{
        width: 70%;
    }

}

@media(max-width:768px){
    .s1 .data{
        width: 80%;
    }

    .s2 .s2d1 .row .in1{
        width: 45%;
    }
 
    .foot .row .f1, .foot .row .f2, .foot .row .f3, .foot .row .f4{
        padding-left: 15px;
    }
    
}

@media(max-width:576px){
    .s1 .data{
        width: 100%;
    }

    .s2 .s2d1 .row .in1{
        width: 90%;
    }

}